<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
	<div class="QA-container">
		<h2>Ask question</h2>
		<hr>
		<form th:action="'/user/'+${questionModel.user.username}+'/questions/edit'" th:object="${questionModel.question}" method="POST">
			<div class="row">
				<div style="border-right: 1px solid #e5e5e5;" class="col-md-9">
					<input type="hidden" name="id" th:value="*{id}" id="questionId">
						
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label for="Owner" class="col-form-label"><strong>Owner </strong></label>
								<div class="QA-blogs-authors">
									<div th:if="${questionModel.user.avatar != null}" th:style="'width: 30px; height: 30px; margin-right: 15px;' + 'background-image: url(' + 'http://localhost:81/upload/avatar/' + ${questionModel.user.avatar} + ');'" class="QA-img"></div>
		          					<div th:unless="${questionModel.user.avatar != null}" th:style="'width: 30px; height: 30px; margin-right: 15px;' + 'background-image: url(' + @{/images/default-avatar.jpg} + ');'" class="QA-img"></div>
									<a style="color: black;" th:href="'/user/'+${questionModel.user.username}"><strong th:text="${questionModel.user.username}"></strong></a>
								</div>
							</div>
						</div>
						<div class="col-md-10">
							<div class="form-group">
								<label for="title" class="col-form-label"><strong>Question
										Title </strong><span style="color: red">*</span></label> <input type="text"
									class="form-control" id="title" name="title" th:value="*{title}"
									maxlength="50" placeholder="Please fill in the question title">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="summary" class="col-form-label"><strong>Question
								Summary </strong><span style="color: red">*</span></label>
						<textarea type="text" style="resize: none;" class="form-control"
							id="summary" name="summary" th:text="*{summary}" maxlength="300"
							placeholder="Please fill in the question summary"></textarea>
					</div>

					<div class="form-group">
						<label for="content" class="col-form-label"><strong>Question
								Content </strong><span style="color: red">*</span></label>
						<div id="editor">
							<textarea style="display:none;" id="md"
							name="content" th:text="*{content}"></textarea>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="tags" class="col-form-label"><strong>Tags </strong><span style="color: red">*</span></label>
						<input type="text" class="form-control form-control-tag" id="tags" name="tags" th:value="${questionModel.question.tags}">
					</div>
					
					<hr>
					<button class="btn btn-primary btn-lg btn-block" type="submit">Ask question</button>
				</div>
			</div>
		</form>
	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>